/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 14, 2024, 10:32:36 AM
    Author     : LESTER
*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

/******************Login & Register**************/
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;

}

.box{
    background: #fdfdfd;
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    border-radius: 20px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5);
}

.form-box{
    width: 450px;
    margin: 0px 10px;
}

.form-box-header{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 10px;
}

.form-box form .field{
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
}

.form-box form .input input{
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.btn{
    height: 35px;
    background: rgba(76, 68, 182, 0.8);
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: all .3s;
    margin-top: 10px;
    padding: 0px 10px;
}

.btn:hover{
    opacity: 0.82;
}

.submit{
    width: 100%;
}

.links{
    margin-bottom: 15px;
}

.message{
    text-align: center;
    background: #f9eded;
    padding: 15px 0px;
    border: 1px solid #699669;
    border-radius: 5px;
    margin-bottom: 10px;
    color: red;
}
/* Body */
body{
    background-color: white;
}


/* Navigation for index
*/
.nav-container{
    background: #ffbdc9;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    background: #fff;
    border-radius: 50px;
    padding: 5px;
    box-shadow: 0 25px 20px -20px rgba(0,0,0,0.4);
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 13px 35px;
    margin: 0px;
    font-size: 18px;
    font-weight: 500;
    color: #777;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 0.5s;
}

nav ul li::after{
    content: '';
    background: #f44566;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;
}

nav ul li::hover{
    color: black;
}
    
nav ul li::hover::after{
    top: 50%;
    opacity: 1;
    }   

/*Dropdown*/

.dropdown{
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn{
    font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: lightgray;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

div.top-section { 
 
    background-image: url('Images/Husky.jpg');
    background-position: center;
   background-size: 2000px;
   height: 475px;
   background-repeat: no-repeat;
   filter: blur(2px);
   
    
}

div.top-title {
    
    color: white;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
    letter-spacing: 2.5px;
    text-shadow: 0px 4px 7px gray;
}

div.top-title h1{
    font-size: 65px;
    margin-bottom: 5px;
}

div.top-title p{
    font-size: 35px;
}

/*Pet Background*/
.pet-background{
    background-color: whitesmoke;
}

/*Pet Slider*/


.pet-section{
   margin: 0;
   padding: 0;
   height: 125vh;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .pet-slider{
     width: 800px;
     height: 500px;
     border-radius: 10px;
     overflow: hidden;
 }
 
 .pet-slide{
     width: 635%;
     height: 500px;
     display: flex;
 }
 
 .pet-slide input{
     display: none;
 }
 
 .st{
     width: 20%;
     transition: 2s;
 }
 
 .st img{
     width: 800px;
     height: 500px;
 }
 
 .nav-m{
     position: absolute;
     width: 800px;
     margin-top: -40px;
     justify-content: center;
     display: flex;
 }

 .m-btn{
     border: 2px solid #fff;
     padding: 5px;
     border-radius: 10px;
     cursor: pointer;
     transition: 1s;
 }
 
 .m-btn:not(:last-child){
     margin-right: 30px;
 }
 
 .m-btn:hover{
     background-color: whitesmoke;
 }
 
 #radio1:checked ~.first{
    margin-left: 0;
 } 
  #radio2:checked ~.first{
    margin-left: -20%;
 } 
  #radio3:checked ~.first{
    margin-left: -40%;
 } 
  #radio4:checked ~.first{
    margin-left: -60%;
 } 
  #radio5:checked ~.first{
    margin-left: -80%;
 } 
  #radio6:checked ~.first{
    margin-left: -100%;
 } 
.pet-section div img{
    width: 100%;
    transition: transform 0.5s;
}

.nav-auto{
   position: absolute; 
   width: 800px;
   margin-top: 460px;
   display: flex;
   justify-content: center;
}

.nav-auto div{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.nav-auto div:not(:last-child){
    margin-right: 30px;
    justify-content: center;
}

#radio1:checked ~.nav-auto .a-b1{
    background-color: white;
}

#radio2:checked ~.nav-auto .a-b2{
    background-color: white;
}

#radio3:checked ~.nav-auto .a-b3{
    background-color: white;
}

#radio4:checked ~.nav-auto .a-b4{
    background-color: white;
}

#radio5:checked ~.nav-auto .a-b5{
    background-color: white;
}

#radio6:checked ~.nav-auto .a-b6{
    background-color: white;
}
